/* theme.css */

/* Light Theme Variables */
:root {
  /* Primary Colors */
  --primary-color-50: #eef2ff; /* Corresponds to {indigo.50} */
  --primary-color-100: #e0e7ff; /* {indigo.100} */
  --primary-color-200: #c7d2fe; /* {indigo.200} */
  --primary-color-300: #a5b4fc; /* {indigo.300} */
  --primary-color-400: #818cf8; /* {indigo.400} */
  --primary-color-500: #6366f1; /* {indigo.500} */
  --primary-color-600: #4f46e5; /* {indigo.600} */
  --primary-color-700: #4338ca; /* {indigo.700} */
  --primary-color-800: #3730a3; /* {indigo.800} */
  --primary-color-900: #312e81; /* {indigo.900} */
  --primary-color-950: #1e1b4b; /* {indigo.950} */

  /* Light Theme Primary */
  --primary-color: var(--primary-color-950);
  --primary-inverse-color: #ffffff;
  --primary-hover-color: var(--primary-color-900);
  --primary-active-color: var(--primary-color-800);

  /* Highlight Colors */
  --highlight-background: var(--primary-color-950);
  --highlight-focus-background: var(--primary-color-700);
  --highlight-color: #ffffff;
  --highlight-focus-color: #ffffff;

  /* Form Field */
  --form-field-hover-border-color: var(--primary-color);
}

/* Dark Theme Variables */
.quizy-dark {
  /* Primary Colors */
  --primary-color: var(--primary-color-50);
  --primary-inverse-color: var(--primary-color-950);
  --primary-hover-color: var(--primary-color-100);
  --primary-active-color: var(--primary-color-200);

  /* Highlight Colors */
  --highlight-background: rgba(250, 250, 250, 0.16);
  --highlight-focus-background: rgba(250, 250, 250, 0.24);
  --highlight-color: rgba(255, 255, 255, 0.87);
  --highlight-focus-color: rgba(255, 255, 255, 0.87);

  /* Form Field */
  --form-field-hover-border-color: var(--primary-color);
}

/* Custom Typography and Text Colors */
.text-primary {
  color: var(--primary-color);
}
.text-primary-inverse {
  color: var(--primary-inverse-color);
}

/* Backgrounds */
.bg-primary {
  background-color: var(--primary-color);
}
.bg-highlight {
  background-color: var(--highlight-background);
}

/* Buttons */
.button-primary {
  background-color: var(--primary-color);
  color: var(--primary-inverse-color);
}
.button-primary:hover {
  background-color: var(--primary-hover-color);
}
.button-primary:active {
  background-color: var(--primary-active-color);
}

/* Form Fields */
.input-field {
  border-color: var(--form-field-hover-border-color);
}
.input-field:focus {
  background-color: var(--highlight-focus-background);
  color: var(--highlight-focus-color);
}

/* Additional Customizations */
.border-primary {
  border-color: var(--primary-color);
}
